spring:
  application:
    name: SyllabusSync
  
  datasource: 
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  canvas:
    feed-encryption-key: ${CANVAS_FEED_ENCRYPTION_KEY:change-me-dev-key}
    sync-interval-ms: ${CANVAS_SYNC_INTERVAL_MS:1800000}
